* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

#content {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  position: fixed;
}

.bg {
  background: url("./background.jpg") no-repeat;
  background-size: cover;
  background-position: 0 80%;
  width: 100%;
  height: 100%;
}

.layer {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.main, .tab-container {
  width: 80.5%;
}

header {
  width: 100%;
  padding: 4% 0 0 5%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.logo {
  font-size: 4em;
  letter-spacing: 0.4em;
  color: rgba(255, 255, 255, 1);
  margin-right: auto;
  font-weight: 700;
  border: 5px solid rgba(219, 147, 14, 0.95);
  border-radius: 8px;
  padding: 10px 30px;
}

.logo span {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
  letter-spacing: 0;
}

.chef {
  width: 500px;
  max-height: 500px;
  margin: 12vh auto 0 auto;
  padding: 1.5%;
  background: rgba(0, 0, 0, 0.7);
}

.chef h2 {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
}

.chef p {
  margin-top: 30px;
  font-size: 1.4em;
  letter-spacing: 0.2em;
  line-height: 1.6em;
  color: rgba(255, 255, 255, 0.8);
  text-align: right;
  margin-left: 20px;
}

.tab-container {
  padding: 2% 4%;
  position: absolute;
  bottom: 0;
  height: 76%;
  background: rgba(0, 0, 0, 0.7);
}

.menu-tab {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1em;
  font-family: 'Times New Roman', Times, serif;
}

.menu-header span {
  cursor: pointer;
}

.menu-header span:hover {
  color: rgba(211, 110, 15, 0.7);
}

.menu-header span.mid {
  cursor: initial;
  margin: 0 40px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.2em;
}

.menu-header span.mid:hover {
  color: rgba(255, 255, 255, 0.4);
}

.menu-body {
  display: flex;
  margin: 2%;
  width: 70%;
  height: 90%;
  overflow: auto; 
  scrollbar-width: thin;
}

.menu-table {
  width: 95%;
  height: 98%;
  border-collapse: collapse;
  margin: auto;
  font-weight: 800;
  font-size: 1.7vh;
}
::-webkit-scrollbar {
  width: 0.5%;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}


.menu-table tr {
  border-bottom: 1px solid rgb(85, 85, 85);
}

.menu-table tr:last-child {
  border: 0;
}

.menu-table tr td {
  padding: 1% 2%;
}

.menu-table tr td:first-child {
  width: 70%;
  text-align: start;
}

.menu-table tr td:last-child {
  text-align: end;
}

.menu-table tr td .dish {
  color: rgba(211, 110, 15, 0.9);
  font-size: 1.3em;
  text-transform: uppercase;
}

.menu-table tr td .dish-description {
  color: rgb(144, 144, 144);
  margin-top: 0.5%;
  font-size: 1em;
  font-style: italic;
  line-height: 1.2em;
}

.menu-table tr td .price {
  color: rgba(255, 255, 255, 0.9);
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 19.5%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  font-size: 0.85vw;
}

nav ul {
  width: 100%;
  list-style: none;
  text-align: right;
  padding-right: 4%;
  padding-bottom: 30%;
}

nav ul li {
  font-size: 2.3em;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 3%;
  line-height: 1em;
  color: rgba(255, 255, 255, 0.6);
}

nav ul li:first-child {
  font-size: 3.8em;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-transform: none;
}

nav a {
  transition: all 0.1s;
}

nav a:hover {
  padding-right: 8px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

